body{
  font-family: 'Source Code Pro', monospace;

}
h1{
  text-align: center;
  font-family: 'VT323', monospace;
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
}

p {
  font-size: 1.1em;
  line-height: 1;
}

a {
  text-decoration: none;
  color: #222;
}

a:hover {
  color: #666;
}

img {
  max-width: 100%;
}

.tech-story {
  padding: 30px 30px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.21);
  margin: 2em 0;
}


.wrapper {
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  height: 100%;
  position: relative;
  padding: 0 2.55555em;
  overflow: hidden;
}

footer {
  text-align: center;
}
